<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>128611321529-0ek2ag8fi1p46g1mnp04bdajs59tkvf0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.128611321529-0ek2ag8fi1p46g1mnp04bdajs59tkvf0</string>
	<key>API_KEY</key>
	<string>AIzaSyAv766gRrsrRp9-xc2TIQYuFpOqGoEsPoE</string>
	<key>GCM_SENDER_ID</key>
	<string>128611321529</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.kevinwatke.JournalApp</string>
	<key>PROJECT_ID</key>
	<string>firestore-journal-app-fb82b</string>
	<key>STORAGE_BUCKET</key>
	<string>firestore-journal-app-fb82b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:128611321529:ios:dacf3d897a500aac79bd68</string>
</dict>
</plist>